<section>
    <div class="topnav">
        <a class="active">Ems- FrontEnd</a>
        <a href="/managePersons" class="btn-nav">Manage Person</a>
        <a (click)="openModalFamily($event)" class="btn-nav">Create Family</a>
    </div>

    <div class="sub-nav">
        <a>Manage Family</a>
        <div class="div-second-nav">
            <mat-icon>add</mat-icon>
            <a (click)="newFamily($event)" class="btn-new-family">
                New Family
            </a>
        </div>
    </div>
</section>

<div class="container">
    <div class="box">
        <div class="mat-app-background basic-container mat-elevation-z8">
            <table mat-table [dataSource]="dataSource">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                </ng-container>

                <ng-container matColumnDef="max_persons">
                    <th mat-header-cell *matHeaderCellDef> Max_persons </th>
                    <td mat-cell *matCellDef="let element"> {{element.max_persons}} </td>
                </ng-container>

                <ng-container matColumnDef="persons">
                    <th mat-header-cell *matHeaderCellDef> Persons </th>
                    <td mat-cell *matCellDef="let element"> {{element.persons.length}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> actions </th>

                    <td mat-cell *matCellDef="let element">
                        <mat-icon 
                            class="button-table"
                            (click)="editFamily(element)" 
                            aria-hidden="false" 
                            aria-label="Edit"
                            >
                            edit
                        </mat-icon> 
                        <mat-icon 
                            class="button-table"
                            (click)="deleteFamily(element)" 
                            aria-hidden="false" 
                            color="warn" aria-label="Delete">
                            delete
                        </mat-icon>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </div>
    </div>
</div>