<div class="wrapper fadeInDown">
	<div id="formContent">

		<div class="fadeIn first m-3">
			<img src="../../../assets/logo-business-services.svg" id="icon" alt="User Icon" />
		</div>

		<div class="container">
			<form [formGroup]="loginForm">
				<div class="row">
					
					<div class="col">
						<input 
							type="text" 
							id="login" 
							[class.is-invalid]="loginForm.get('username').invalid && loginForm.get('username').touched"
							class="fadeIn second form-control" 
							name="login" 
							placeholder="username"
							formControlName="username" 
							required>
					</div>
				</div>
				<mat-error 
					class="d-flex justify-content-center text-danger" 
					*ngIf="loginForm.get('username').invalid && loginForm.get('username').touched">
					Username is required*
				</mat-error>

				<div class="row">
					<div class="col">
						<input 
							type="password" 
							id="password" 
							class="fadeIn third form-control" 
							name="login" 
							placeholder="password"
							formControlName="password"
							[class.is-invalid]="loginForm.get('password').invalid && loginForm.get('password').touched"
							>
					</div>
				</div>
				<mat-error 
					class="d-flex justify-content-center text-danger" 
					*ngIf="loginForm.get('password').invalid && loginForm.get('password').touched">
					Password required*
				</mat-error>

				<input 
					type="button" 
					class="fadeIn fourth" 
					value="Log In"
					(click)="login($event)"
					[disabled]="loginForm.get('password').invalid || loginForm.get('username').invalid"
					>
			</form>
		</div>

		<div id="formFooter">
			<a class="underlineHover" href="#">Forgot Password</a>
		</div>

	</div>
</div>