input[type=text], input[type=number] {
  border: none;
  font-size: 16px;
  width: 70%;
}

.input-content{
    display: flex;
    justify-content: center;
}

input[type=button], input[type=submit], input[type=reset]  {
  width: 70%;
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

.form-field-select{
  width: 70%;
  margin-top: 4px;
  margin-bottom: 4px;
  padding-bottom: 2px;
  height: 50px;
  text-align: center;
}

.input-content-form{
  background-color: #f6f6f6;
  border: none;
  border: 2px solid #f6f6f6;
  width: 70%;
  text-align: center;
  padding: 1px;
  height: 40px;
  margin: 4px;
}

.content-form{
  display: flex;
  justify-content: center;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.submit-content{
  padding-top: 8px;
}

.title-modal{
  margin: 5px 8px 15px 8px
}

.mat-input-number{
  margin-left: 17px;
}

.content-dialog{
  overflow: hidden;
}