<mat-dialog-content class="dialog-modal">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <form [formGroup]="form">
            <mat-step [stepControl]="form">
                <ng-template matStepLabel>{{form.get('id').value ? 'View Family' : 'Create Family'}}</ng-template>
                <div class="step-content">
                    <mat-form-field class="input-content-form">
                        <mat-label>Name</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error class="d-flex justify-content-center text-danger"
                            *ngIf="form.get('name').invalid && form.get('name').touched">
                            Name is required*
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field class="input-content-form">
                        <mat-label>max_persons</mat-label>
                        <input 
                            matInput 
                            type="number" 
                            formControlName="max_persons" 
                            required
                            >
                        
                        <mat-error class="d-flex justify-content-center text-danger"
                        *ngIf="form.get('max_persons').errors?.min && form.get('max_persons').touched">
                            The Number cannot be less than associated persons
                        </mat-error>

                        <mat-error class="d-flex justify-content-center text-danger"
                            *ngIf="form.get('max_persons').errors?.required && form.get('max_persons').touched">
                            max_persons is required*
                        </mat-error>
                    </mat-form-field>
                </div>
            </mat-step>
            <mat-step [stepControl]="form">
                <ng-template matStepLabel>Persons</ng-template>
                <div class="container-persons" *ngIf="!form.get('id').value">
                    <mat-form-field [formGroup]="formPerson" appearance="fill"
                        class="form-field-select form-new-person">
                        <mat-label>Person Option</mat-label>
                        <mat-select formControlName="id">
                            <mat-option *ngFor="let item of personsData" [value]="item.id">
                                {{item.username}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <button 
                        mat-raised-button 
                        [disabled]="!formPerson.get('id').value" 
                        color="primary"
                        aria-label="Add" matTooltip="Add Person to Family" (click)="addPersonToFamily()"
                        class="btn-add-person"> Add Person
                        <mat-icon>add</mat-icon>
                    </button>
                </div>

                <div class="container-table" formArrayName="persons">
                    <table class="table striped bordered">
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Age</th>
                            <th *ngIf="validRole()">Actions</th>
                        </tr>

                        <tr *ngFor="let list of form.controls.persons?.value;let i = index" [formGroupName]="i">
                            <td>
                                {{list.username}}
                            </td>
                            <td>
                                {{list.name || '-'}}
                            </td>
                            <td>
                                {{list.role}}
                            </td>
                            <td>
                                {{list.age || '-'}}
                            </td>
                            <td *ngIf="validRole()">
                                <button 
                                    class="btn-delete" 
                                    matTooltip="Remove Person From Family" 
                                    mat-mini-fab disabled>
                                    <mat-icon 
                                        class="button-table"    
                                        (click)="removePerson(i)" 
                                        aria-hidden="false" 
                                        color="warn" aria-label="Delete">
                                        delete
                                    </mat-icon>
                                </button>
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-step>
        </form>
    </mat-horizontal-stepper>
</mat-dialog-content>
<mat-dialog-actions align="end" class="content-dialog-end">
    <button mat-button *ngIf="stepper.selectedIndex !== 0" (click)="stepper.previous()" class="btn-back">Back</button>
    <button mat-button 
        [disabled]="form.invalid"
        *ngIf="stepper.selectedIndex === 0" 
        (click)="stepper.next()" 
        class="btn-next"
        >Next</button>
    <button mat-button
        *ngIf="stepper.selectedIndex === 1 && !form.get('id').value"
        (click)="submitForm()" 
        class="btn-next"
        [disabled]="validSave()"
        >Save</button>
</mat-dialog-actions>